
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}
        header {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('../assets/pexels-muffin-creatives-2468773.jpg');
            background-size: cover;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        nav a {
            color: #fff; /* Text color */
            text-decoration: none; /* Remove underline */
            padding: 10px 20px; /* Add padding */
            overflow: hidden; /* Hide overflow */
            transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for background color and box shadow */
        }
        
        nav a:hover {
            background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background color on hover */
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Subtle shadow on hover */
        }
        
        main {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        .site {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        .site img {
            max-width: 100%;
            border-radius: 8px;
            margin-bottom: 10px;
        }
        .site h2 {
            font-size: 24px;
            color: #f9f8f8;
            margin-bottom: 10px;
        }
        .site p {
            color: #fffefe;
            margin-bottom: 10px;
            font-weight: bold;
        }
        #site1{
        background: url('../assets/travelblog.jpg');
        color: #fff;
        }
        #site2{
            background: linear-gradient(45deg, #5045cb, #151515);
        
        color: #fff;   
        }
        #site3{
            background: linear-gradient(45deg, #4d755f, #1d1d1d);
        color: #fff;   
        }
        #site4{
            background: linear-gradient(45deg, #4d755f, #1d1d1d);
        color: #fff;   
        }
        #site5{
        background: rgb(191, 107, 217);
        color: #fff;   
        }
        #site6{
        background: rgb(35, 18, 41);
        color: #fff;   
        }
        footer {
            background-color: #010101;
            font-family: sans-serif;
            color: #fff;
            text-align: center;
            padding: 20px 0;
            bottom: 0;
            width: 100%;
        }
  